:root {
    --title-color:#2e2f42;
    --link-color: #4d5ae5;
    --text-color: #434455;
    --main-color: #ffffff;
    --color-white: #f4f4fd;
    --iris-color: #404bbf;
    --color-green: #31d0aa;
    --color-light-slate: #8e8f99;
    --color-cornflower: #e7e9fc;
    --color-navy-blue-modal: #2e2f42;
    --color-grey: #2e2f42;
    --color-dairy: #fcfcfc;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-color);
    color: var(--text-color);
}

a {text-decoration: none;}

ul {
    list-style-type: none;
}

.link {
    text-decoration: none;
}
.list {
    list-style: none;
}

.header-logo { 
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--link-color);
    text-transform: uppercase;
}

.span_studio {
    color: var(--title-color);
}

.header-menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.header-address {
    font-style: normal;
}

.header-menu-link:hover,
.header-menu-link:focus {color: var(--iris-color);}

.header-soc-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);

}

.header-soc-link:hover,
.header-soc-link:focus {
    color: var(--iris-color);
}

/*************     MAIN     **************/

/************* SECTION HERO **************/
.hero{
    background: var(--title-color);
    text-align: center;
}

.hero-main{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--main-color);
    text-align: center;
}

.hero-bttn{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--main-color);
    cursor: pointer;
    background-color: var(--link-color);
}

.hero-bttn:hover,
.hero-bttn:focus {
    background-color: var(--iris-color);
}

/************* SECTION FEATURE **************/

.main-feature-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
}
.main-feature-paragraf{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

/************* SECTION SERVICES **************/

.services-title{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: var(--title-color);
        text-align: center;
        text-transform: capitalize;
}

/************* SECTION TEAM **************/

.team{
    background-color: var(--color-white);
    text-align: center;
    text-transform: capitalize;
}

.team-list-content{
    background-color: var(--main-color);
}

.team-title{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: var(--title-color);
}

.team-title-name{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--title-color);
}

.team-paragraf{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

/*************     FOOTER     **************/

.footer-cover{
    background-color: var(--title-color);
}

.span_studio_f {
    color: var(--color-white);
}

.footer-paragraf {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-white);
}


/*_____________________________PORTFOLIO______________________________*/

/*************     MAIN     **************/

/************* SECTION navigation  **************/

.navigation-btn {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--link-color);
        background-color: var(--color-white);
        cursor: pointer;
}

.navigation-btn:hover,
.navigation-btn:focus {
    color: var(--main-color);
    background-color: var(--iris-color);
}

/************* SECTION content  **************/

.content-img {
    text-decoration: none;
}

.content-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
}
.content-paragraf {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}